<template>
  <div id="app">
    <!-- <HelloWorld/> -->
    <div class="title">
      <h1>Issues</h1>
      <div><el-button type="primary" @click="createIssue">Create</el-button></div>
    </div>
    <div>
      <div v-for="(d,index) in resData"  :key="index">
        <div class="issueLine">
            <!-- <div>
              {{ d.index }}
            </div> -->
            <div>
              {{ d.title }}
            </div>
            <div>
              {{ d.description }}
            </div>
            <div>
                <el-button type="success" @click="updateIssueDialog(index)">Update</el-button>
                <el-button type="danger" @click="deleteIssue(d)">Delete</el-button>
              </div>
        </div>
      </div>
    </div>

    <el-dialog
      title="Create Issue"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose">
      <span>
        Title:
        <el-input placeholder="Please input" v-model="createData.title"></el-input>
        Description:
        <el-input placeholder="Please input" v-model="createData.description"></el-input>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="saveNewIssue">Save</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import apiRequest from './api/api';

export default {
  // name: 'App',
  data() {
    return {
      createData:{
        title:'',
        description:'',
      },
      dialogVisible:false,
      resData:[],
      change:'',
    };
  },
  components: {
  },
  created(){
    // this.resData=[{id:'123',title:'123',description:'123'}]
    this.get()
  },
  methods: {
    async deleteIssue(d){
      const response = await apiRequest('delete', 'POST', {index:d.id});
      if(response.ok){
        let data = await response.json();
        this.resData=data
        this.dialogVisible=false
      }else {
        console.log('error')
      }
    },
    createIssue(){
      this.change='create'
      this.dialogVisible=true
      this.createData={
        title:'',
        description:'',
      }
    },
    async saveNewIssue(){
      if(this.change=='create'){
        const response = await apiRequest('create', 'POST', this.createData);
          if(response.ok){
            let data = await response.json();
            this.resData=data
            this.dialogVisible=false
          }else {
            console.log('error')
          }
      }else if(this.change=='update'){
        const response = await apiRequest('update', 'POST', this.createData);
          if(response.ok){
            let data = await response.json();
            this.resData=data
            this.dialogVisible=false
          }else {
            console.log('error')
          }
      }
    },
    handleClose(){
      this.dialogVisible=false
    },
    create(){

    },
    update(){

    },
    async get(){
      const response = await apiRequest('get', 'POST');
      if(response.ok){
        let data = await response.json();
        this.resData=data
      }else {
        console.log('error')
      }
    },
    updateIssueDialog(index){
      this.change='update'
      this.dialogVisible=true
      this.createData={...this.resData[index]}
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: auto;
  margin-top: 60px;
  max-width: 800px;
}
.title{
  display: flex;
  justify-content: space-between;
  margin:20px;
  line-height: 30px;
  align-items: center;
}
.issueLine{
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid black;

}
</style>
